<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h4>{{ ime }}</h4>
        <form @submit.prevent="go">
            <div class="row">
                <div class="six columns">
                    <label for="iznosKredita">Iznos kredita</label>
                    <input class="u-full-width" v-model="kredit" type="text" id="kredit">
                    <label for="rok">Rok</label>
                    <input class="u-full-width" v-model="rok" type="text" id="rok">
                    <input class="button-primary" type="submit" value="Submit">
                </div>
        </form>
    </div>

    <script src="main.js"></script>

</body>

</html>